body {
    background-color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    color: #EEE;
}

h1 {
    color: #8aa192;
    text-align: center;
}

.number {
    color: #EEE;
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

ul > li {
    margin: 8px;
}